#!/usr/bin/make -f
# -*- Mode: Makefile; indent-tabs-mode: t -*-

export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -Bbuild/gtk2 -- --enable-introspection=no \
	                                  --enable-headless-tests \
	                                  --disable-webapps \
	                                  --with-gtk=2
	dh_auto_configure -Bbuild/gtk3 -- --enable-introspection=no \
	                                  --enable-gtk-doc \
	                                  --enable-headless-tests \
	                                  --with-gtk=3

override_dh_auto_build:
	dh_auto_build -Bbuild/gtk2
	dh_auto_build -Bbuild/gtk3

override_dh_auto_clean:
	dh_auto_clean -Bbuild/gtk2
	dh_auto_clean -Bbuild/gtk3

override_dh_auto_test:
	dh_auto_test -Bbuild/gtk2
	dh_auto_test -Bbuild/gtk3

override_dh_auto_install:
	dh_auto_install -Bbuild/gtk2
	dh_auto_install -Bbuild/gtk3
	find debian/tmp/usr/lib -name \*.la -exec rm {} \;
	find debian/tmp/usr/lib -name \*.a -exec rm {} \;

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=bamf-dbg

override_dh_girepository:
	dh_girepository -pgir1.2-bamf-0.2
